#community {
    grid-column: span 2;
    // border-top-right-radius: 20px;
    // border-top-left-radius: 20px;

    h1 {
        color: @cyan;
        margin-bottom: 1.25rem;
        font-weight: 700;
    }

    h1+p {
        margin-bottom: .56rem;
    }

    p {
        color: @grayish-blue;
    }

    p span {
        color: @bright-yellow;
        font-weight: 700;
    }
}