#community {
    background: @white;
    grid-column: span 2;

    h1 {
        color: @cyan;
        margin-bottom: 1.25rem;
    }

    p {
        color: @grayish-blue;
    }

    p span {
        color: @bright-yellow;
    }
}