#subscription {
    background: @cyan;
    color: @white;
    // padding-block: 0;

    :nth-child(2) {
        display: flex;
        align-items: center;
    }

    .price {
        font-size: 1.95rem;
        font-weight: 700;
        margin-right: 10px;
    }

    .duration {
        font-size: .85rem;
        color: @light-gray;
        font-weight: 400;
    }

    .cta--btn {
        background-color: @bright-yellow;
        padding: .75rem 1rem;
        border-radius: 3px;
        margin-top: 1.95rem;
        font-weight: 700;
        box-shadow: 1px 3px 8px @black;
        transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        cursor: pointer;

        &:hover {
            background: @bright-yellow + 10%;
            color: @black;
            box-shadow: 0px 2px 5px;
            transform: scale(0.95);
            -moz-transform: scale(0.95);
            -o-transform: scale(0.95);

        }
    }


}