#subscription {
    background: @cyan;
    color: @white;
    padding-bottom: 0%;

    :nth-child(2) {
        display: flex;
        align-items: center;
    }

    .price {
        font-size: 1.95rem;
        font-weight: 700;
        margin-right: 10px;
    }

    .duration {
        font-size: .85rem;
        color: @light-gray;
        font-weight: 400;
    }

    .cta--btn {
        background-color: @bright-yellow;
        padding: .75rem 1rem;
        border-radius: 3px;
        margin-top: 1.95rem;
        font-weight: 700;
    }
}