#subscription {
    background: @cyan;
    color: @white;

    .price {
        font-size: 1.95rem;
        font-weight: 700;
        margin-right: 10px;
    }

    .duration {
        font-size: .85rem;
        color: @light-gray;
        font-weight: 400;
    }

    .cta-btn {
        background-color: @bright-yellow;
        width: 100%;
        padding: .75rem 1rem;
        text-align: center;
        border-radius: 3px;
        margin-top: 1.95rem;
        font-weight: 700;
    }
}