@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;700&family=Young+Serif&display=swap');

:root {
  /* Primary */

  --Nutmeg: hsl(14, 45%, 36%);
  --Dark-Raspberry: hsl(332, 51%, 32%);

  /* Neutral */
  --White: hsl(0, 0%, 100%);
  --Rose-White: hsl(330, 100%, 98%);
  --Eggshell: hsl(30, 54%, 90%);
  --Light-Grey: hsl(30, 18%, 87%);
  --Wenge-Brown: hsl(30, 10%, 34%);
  --Dark-Charcoal: hsl(24, 5%, 18%);

  --border-radius-lg: 1.5rem;
  --border-radius-sm: .5rem;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  font-size: 1rem;
  font-weight: 400;
  font-family: 'Outfit', serif;
  min-height: 100vh;
  background-color: var(--Eggshell);
  color: var(--Dark-Charcoal);
  max-width: 800px;
  margin: 2rem auto;
}

h1,
h2 {
  font-family: 'Young serif', serif;
  font-weight: 700;
  letter-spacing: 1.2px;
}

h1 {
  color: var(--Dark-Charcoal);
  margin: 1.250rem 0;
}

h2 {
  color: var(--Nutmeg);
  padding-bottom: .50rem;
}

h3 {
  color: var(--Dark-Raspberry);
  margin-bottom: .5rem;
  font-weight: 700;
}

img {
  display: block;
  max-width: 100%;
}

ul,
ol {
  padding: 0;
  display: block;
  margin-left: 1.25rem;
  line-height: inherit;
}

ul li::marker,
ol li::marker {
  color: var(--Nutmeg);
}

li {
  padding-bottom: .50rem;
  padding-left: 1rem;
}

#wrapper {
  background-color: var(--White);
  padding: 2.25rem;
  border-radius: var(--border-radius-lg);
  margin: 0 1.75rem;
  margin-bottom: 3rem;
  box-shadow: 0 1px 2px var(--White);
}

#introduction {
  margin-bottom: 1.96rem;
}

#introduction img {
  border-radius: var(--border-radius-sm);
}

#preparation {
  background-color: var(--Rose-White);
  border-radius: var(--border-radius-sm);
  padding: 1.5rem 2.35rem;
  margin-bottom: 1.50rem;
}


#preparation li::marker {
  color: var(--Dark-Raspberry);
}

#ingredient {
  margin-bottom: 2rem;
}

#ingredient ul {
  list-style-type: square;
}

#instruction,
#nutrition {
  margin: 2rem 0;
}

#nutrition p {
  margin-bottom: 1.30rem;
}

span {
  color: var(--Nutmeg);
}

.food-calories-wrapper {
  width: 100%;

}

tr {
  display: block;
  border-bottom: 1px solid var(--Light-Grey);
  padding: .80rem 0;
}

tr:last-child {
  border-bottom: none;
}

.calory-name {
  padding-left: 1.85rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}