 @use "../base/var" as *;


 .footer{
  display: flex;
  justify-content: end;
  margin-top: 24px;

    .social-icons-wrapper {
      display:flex;

      .social-icons {
        border: 1px solid var(--neutral-100);
        padding: 6px;
        border-radius: 50%;
        display: inline-block;
        margin-left: 15px;


          @media only screen and (min-width:1000px){
     &:hover,
        &:focus {
          border-color:var(--softMagenta-100);
          color: var(--softMagenta-100);
          transition: $transition;
        }
          }
       
      }
     
    }

    &__end {
      margin-top: 10px;

      .attribution {
        font-size: 11px;
        text-align: center;
        display: flex;
      }

      .attribution a {
        color: var(--neutral-200);
      }
    }   
}