@use "../base/var" as *;

@use "../mixin/index" as *;


.hero-section {
    color: var(--neutral-100);
    margin-top: 60px;

    .container {
        display: -ms-flexbox;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        max-width: 1300px;
        margin: 0 auto;
        padding: 0 17px;
        gap: 50px;
    }

    &__title{
        font-size: 2.0rem;
        line-height: 1.5;
        font-weight: $fw-lg;
        font-family: $headerFont;
        margin-bottom: 13px;
        text-align: center;
    }

    &__description{
        font-size: 1.46rem;
        text-align: center;
        line-height: 1.4;
    }

    &__button{
        padding: 17px 75px;
        border-radius: 28px;
        background: var(--neutral-100);
        font-weight: $fw-md;
        color: var(--violet-100);
        display: inline-block;
        margin-top: 25px;
        transform: translateX(50%);
        box-shadow: $bx-sw;
    }

    @media only screen and (min-width:1000px) {
        .container {
            flex-direction:row-reverse;
        }

        &__title{
            font-size: 3.8rem;
            text-align: left;
        }

        &__description{
            text-align: left;
        }

        &__button{
            padding: 1.02rem 4.75rem;
            transform: translateX(0);
            @include scale();
        }

          &__illustration{
            width:93.75rem;
          }
        
        
    }
}