<footer class="footer">
  <div class="container">
    <div>
      <span><a href="#"></a></span>
      <span><a href="#"></a></span>
      <span><a href="#"></a></span>
    </div>

    <p class="attribution">
      Challenge by <a
        href="https://www.frontendmentor.io?ref=challenge"
        target="_blank">Frontend Mentor</a
      >. Coded by <a href="#">Godbless Ikadoi</a>.
    </p>
  </div>
</footer>
