@media only screen and (width >= 321px) and (width <= 769px) {
    .hero {
       border: 3px solid red;

        .container {
            display: block;
            // grid-template-columns: 1fr;
            // gap: 1.96rem;
            // align-items: center;
            // justify-content: space-between;
        }

        &__title {
            line-height: 1.5;
            font-size: .90rem;
            // font-weight: $fw-m;
            // margin-bottom: .833rem;
        }

        &__description {
            // color: var(--cyan-500);
            // line-height: 1.45;
            font-size: .50rem;
            letter-spacing: .003px;
        }

        // &__img {
        //     width: clamp(300px,95%,660px);
        // }
    }
    }
     .cta {
        &--secondary {
         padding: 6rem;
         border: 4px solid blue;
        }
    }