@use "/src/styles/base/vars" as *;

.header {
    background: url(/src/images/bg-hero-desktop.svg),var(--cyan-100);
    background-size: cover ;
    background-repeat: no-repeat;
    background-position:top 20% right 85%;
    padding:1.11rem 0 2.778rem;

    .hero{ 
        .container {
            display: -ms-grid;
            display: grid;
            grid-template-columns: 45% 55%;
            gap: 1.96rem;
            align-items: center;
            justify-content: space-between;
        }

        &__title {
            color: var(--cyan-500);
            line-height: 1.5;
            font-size:clamp(.50rem,8vw,2.997rem) ;
            font-weight: $fw-m;
            margin-bottom: .833rem;
        }

        &__description {
            color: var(--cyan-500);
            line-height: 1.45;
            font-size: 1.254rem;
            letter-spacing: .003px;
        }

        &__img {
            width: clamp(300px,95%,660px);
        }
    }
}