@use '../base/vars' as *;

.container {
    width: clamp(350px, 95%, 1240px);
    margin: 0 auto;
    padding: 0 1.125rem;
}

.cta{
        padding: 1.10rem 3.95rem;
        background-color: var(--neutral-100);
        border-radius: 1.85rem;
        font-size: 1.20rem;
        display: inline-block;
        font-weight: $fw-m;
        box-shadow: $bx-sw;
        transition:$transition;

        &--primary {
            background-color: var(--green-500);
            color: var(--green-700);
            box-shadow: 1px 1px 10px var(--green-500);
            margin: 2.22rem 0 1.11rem;
            padding: 1.33rem 2.5rem;

            &:hover, &:active {
                background-color: var(--green-200);
                color: var(--neutral-100);
                transform: scale(1.2);
            }
        }

        &--secondary{
            color: var(--cyan-500);
            &:hover, &:active {
                background-color: var(--neutral-200);
                transform: scale(1.2);
            }
        }
}

.card {
        background-color: var(--neutral-100);
        padding: 4.50rem .83rem;
        max-width: 75.556rem;
        margin: 0 auto;
        border-radius: .389rem;
        box-shadow: $bx-sw;

        &--sm {
            position: relative;
            width:55.33rem;
            text-align: center;
            margin: 0 auto;
            top: 5.88rem;
        }

        &__image {
            width: 28.50rem;
        }

        &__subtitle {
            color: var(--cyan-500);
            margin-bottom: .765rem;
        }

        &__subtitle:last-child {
            color: var(--cyan-500);
        }

        &__description-text{
            color: var(--grayishBlue-100);
            font-size: 1.389rem;
            line-height: 1.6;
        
        }
}
