// map of colors

$colors: (
    pink:(
        200:hsl(322, 100%, 66%),
        500:hsl(322, 100%, 84%) ,  
        700: hsl(322, 97%, 39%)  
    ), 
    cyan: (
        100:hsl(193, 100%, 96%),
        500:hsl(192, 100%, 9%),
    ),
    grayishBlue: (
        100:hsl(208, 11%, 55%)
    ),
    neutral: (
        100:hsl(0, 0%, 100%),
        200:hsl(0, 14%, 89%),
        900:hsl(0, 0%, 0%)
    )
);

