// map of colors

$colors: (
    green:(
        200:hsl(109, 98%, 65%),
        500:hsl(109, 100%, 82%) ,  
        700: hsl(109, 98%, 37%)  
    ), 
    cyan: (
        100:hsl(193, 100%, 96%),
        500:hsl(192, 100%, 9%),
    ),
    grayishBlue: (
        100:hsl(208, 11%, 55%)
    ),
    neutral: (
        100:hsl(0, 0%, 100%),
        200:hsl(0, 14%, 89%),
        900:hsl(0, 0%, 0%)
    )
);

