$baseFontSize:18px;
$textFontSize:16px;
$baseFontFamily:system-ui;
$HeadingFontFamily:"Poppins";
$textFont:"Open Sans";
$fw-n:400;
$fw-m:600;
$fw-lg:700;
$transition:all .3s ease-in;
$bx-sw:0px 0px 0.278rem hsl(0, 19%, 91%);