html {
    font-size: @fs;
}

body {
    font-family: @ff, sans-serif;
    line-height: 1.5;
    min-height: 100dvh;
    padding: 45px 0;
    background-color: @light-gray;
    gap: 25px;
    .grid();
    .place-item();
    grid-template-rows: 1fr 30px;
}

a {
    .inline-block();
    font-weight: @fw-400;
    font-family: inherit;
}

ul {
    .block();
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-family: @ff;
}

li {
    color: @light-gray;
    font-size: @fs - 2px;
    margin-bottom: .275rem;
}

h1,
h2,
h3,
h4 {
    font-weight: @fw-700;
    font-family: @ff;
    margin-bottom: 0;
}

h2 {
    color: @white;
    font-size: 1.25rem;
    margin-bottom: .75rem;
}

p {
    font-size: inherit;
}

main {
    width: clamp(300px, 85%, 650px);
    .grid();
    .grid-col-2();
    overflow: hidden;
    background-color: @white;
    box-shadow: 0px 1px 8px @light-gray;
    border-radius: 10px;
}

.section {
    .section-padding();
}