html {
    font-size: @fs;
}

body {
    font-family: @ff, sans-serif;
    line-height: 1.5;
    min-height: 100dvh;
    padding: 45px 0;
    background-color: @light-gray;
    display: grid;
    gap: 25px;
    grid-template-rows: 1fr 30px;
    place-items: center;
}

a {
    display: inline-block;
    font-weight: 400;
    font-family: inherit;
}

ul {
    list-style-type: none;
    padding: 0;
    display: block;
    font-family: @ff;
}

li {
    color: @light-gray;
    font-size: @fs - 2px;
    margin-bottom: .275rem;
}

h1,
h2,
h3,
h4 {
    font-weight: 700;
    font-family: @ff;
    margin-bottom: 0;
}

h2 {
    color: @white;
    font-size: 1.25rem;
    margin-bottom: .75rem;
}

p {
    font-size: inherit;
}

.section-padding {
    padding: @section-padding;
}

main {
    width: clamp(300px, 85%, 650px);
    display: grid;
    overflow: hidden;
    background-color: @white;
    grid-template-columns: repeat(2, 1fr);
    box-shadow: 0px 1px 4px @light-gray;
    border-radius: 10px;
}

.btn {
    width: 100%;
    display: block;
    text-align: center;
}