@media screen and (min-width:500px) {

    body {
        .grid;
        .place-items;
    }

    .container {
        padding: 1.95rem;
        margin: 0% auto;
        max-width: 1000px;
    }

    main {
        .grid;
        .grid-cols-3;
    }
}