@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --clr-yellow: hsl(47, 88%, 63%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-grey: hsl(0, 0%, 50%);
  --clr-black: hsl(0, 0%, 7%);
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: "Figtree", sans-serif;
  font-weight: 500;
  min-height: 100dvh;
  line-height: 1.4;
  background: var(--clr-yellow);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.6rem;
  padding: 0 2rem;
}

img {
  display: block;
  width: 100%;
}

.card-wrapper {
  background: var(--clr-white);
  max-width: 425px;
  margin: 0 auto;
  padding: 1.75rem 1.5rem;
  border: 1px solid var(--clr-black);
  border-radius: 0.95rem;
  box-shadow: 10px 6px var(--clr-black);
}

.illustration-image {
  border-radius: 0.65rem;
  margin-bottom: 1.5rem;
}

h4 {
  background: var(--clr-yellow);
  padding: 0.55rem;
  display: inline-block;
  font-size: 0.85em;
  font-weight: 800;
  margin-bottom: 0.8rem;
}

h4 + p {
  margin-bottom: 0.95rem;
}

h1 {
  margin-bottom: 0.65em;
  font-size: 1.5rem;
  font-weight: 800;
}

h1 a {
  text-decoration: none;
  color: var(--clr-black);
}

h1 a:hover,
h1 a:focus {
  color: var(--clr-yellow);
  cursor: pointer;
}

h1 + p {
  color: var(--clr-grey);
  margin-bottom: 1.25em;
}

.user {
  display: flex;
  align-items: center;
  gap: 0.85rem;
}

.user span {
  font-weight: 800;
  font-size: 0.85rem;
}

.img-avatar {
  width: 30px;
  display: inline-block;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
