<!-- footer section -->
<footer class="footer">
  <div class="container container--sm">
    <div class="footer__body">
      <!-- site location and contact informations -->
      <div class="contact">
        <div class="contact__items">
          <img
            src="/public/icons/footer-logo.svg"
            alt="logo"
            class="footer__logo"
          />
        </div>

        <div class="contact__items">
          <span>
            <img
              src="/icons/icon-location.svg"
              alt="location icon"
              aria-describedby="location icon"
            />
          </span>
          <span>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua
          </span>
        </div>

        <div class="contact__items">
          <span>
            <img
              src="/icons/icon-phone.svg"
              alt="phone icon"
              class="social-icon"
              aria-describedby="phone icon"
            />
          </span>
          <span>+1-543-123-4567</span>
        </div>

        <div class="contact__items">
          <span>
            <img
              src="/icons/icon-email.svg"
              alt="email icon"
              aria-describedby="email icon"
            />
          </span>
          <span>example@huddle.com</span>
        </div>
      </div>

      <!-- footer sitemaps -->
      <div class="sitemap">
        <ul class="sitemap__contents">
          <li><a href="#" class="sitemap__links">About Us</a></li>
          <li><a href="#" class="sitemap__links">What We Do</a></li>
          <li><a href="#" class="sitemap__links">FAQ</a></li>
        </ul>

        <ul class="sitemap__contents">
          <li><a href="#" class="sitemap__links">Career</a></li>
          <li><a href="#" class="sitemap__links">Blog</a></li>
          <li><a href="#" class="sitemap__links">Contact Us</a></li>
        </ul>
      </div>

      <!-- footer social media icons -->
      <ul class="social-links">
        <li>
          <span
            ><img
              src="/icons/facebook-f.svg"
              alt="facebook logo"
              class="social-links__icon"
              aria-describedby="facebook icon"
            />
          </span>
        </li>

        <li>
          <span
            ><img
              src="/icons/logo-twitter.svg"
              alt="twitter logo"
              class="social-links__icon"
              aria-describedby="twitter icon"
            />
          </span>
        </li>

        <li>
          <span
            ><img
              src="/icons/logo-instagram.svg"
              alt="instagram logo"
              class="social-links__icon"
              aria-describedby="instagram icon"
            />
          </span>
        </li>
      </ul>
    </div>

    <!-- footer credit and attribution -->
    <div class="footer__end">
      <p class="credit">&copy; Copyright 2024 Huddle. All rights reserved.</p>
      <p class="attribution">
        Challenge by
        <a href="https://www.frontendmentor.io?ref=challenge" target="_blank"
          >Frontend Mentor
        </a>. Coded by <a href="#">Godbless Ikadoi</a>.
      </p>
    </div>
  </div>
</footer>
