<!-- footer section -->
<footer class="footer">
  <div class="container container--lg">
    <div class="footer__body">
      <!-- site location and contact informations -->

      <div class="contact">
        <div><img src="./public/icons/logo.svg" alt="logo" /></div>

        <div>
          <img
            src="./public/icons/icon-location.svg"
            alt="location icon"
            aria-describedby="location icon"
          />
          <span>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua
          </span>
        </div>

        <div>
          <img
            src="./public/icons/icon-phone.svg"
            alt="phone icon"
            aria-describedby="phone icon"
          />
          <span>+1-543-123-4567</span>
        </div>

        <div>
          <img
            src="/public/icons/icon-email.svg"
            alt="email icon"
            aria-describedby="email icon"
          />
          <span>example@huddle.com</span>
        </div>
      </div>

      <!-- footer sitemaps -->
      <div class="sitemap">
        <div class="sitemap__contents">
          <div><a href="#" class="sitemap__links">About Us</a></div>
          <div><a href="#" class="sitemap__links">What We Do</a></div>
          <div><a href="#" class="sitemap__links">FAQ</a></div>
        </div>

        <div class="sitemap__contents">
          <div><a href="#" class="sitemap__links">Career</a></div>
          <div><a href="#" class="sitemap__links">Blog</a></div>
          <div><a href="#" class="sitemap__links">Contact Us</a></div>
        </div>
      </div>

      <!-- footer social media icons -->
      <ul>
        <li>
          <span
            ><img
              src="/public/icons/logo-facebook.svg"
              alt="facebook logo"
              aria-describedby="facebook icon"
            /></span
          >
        </li>

        <li>
          <span
            ><img
              src="/public/icons/logo-twitter.svg"
              alt="twitter logo"
              aria-describedby="twitter icon"
            /></span
          >
        </li>

        <li>
          <span
            ><img
              src="/public/icons/logo-instagram.svg"
              alt="instagram logo"
              aria-describedby="instagram icon"
            /></span
          >
        </li>
      </ul>
    </div>

    <!-- footer credit and attribution -->
    <div class="footer__end">
      <p class="credit">&copy; Copyright 2024 Huddle. All rights reserved.</p>
      <p class="attribution">
        Challenge by
        <a href="https://www.frontendmentor.io?ref=challenge" target="_blank"
          >Frontend Mentor
        </a>. Coded by <a href="#">Godbless Ikadoi</a>.
      </p>
    </div>
  </div>
</footer>
