---
import Nav from "./Nav.astro";
---

<!-- header contents -->
<header class="header">
  <Nav />

  <section class="hero">
    <div class="container container--lg">
      <div class="hero__wrapper">
        <h1 class="hero__title">Build The Community Your Fans Will Love</h1>
        <p class="hero__description">
          Huddle re-imagines the way we build communities. You have a voice, but
          so does your audience. Create connections with your users as you
          engage in genuine discussion.
        </p>
        <a href="#" class="ctn ctn--primary">Get Started For Free</a>
      </div>

      <img
        class="hero__img"
        src="/images/illustration-mockups.svg"
        alt="illustration-mockups"
      />
    </div>
  </section>
</header>
