<nav class="navbar">
  <div class="container container--lg">
    <div class="navbar__logo--wrapper">
      <img class="navbar__logo" src="/public/icons/logo.svg" alt="logo" />
    </div>
    <div class="navbar__ctn--wrapper">
      <a href="" class="ctn ctn--secondary">Try It Free </a>
    </div>
  </div>
</nav>
