<nav class="navbar">
  <div class="container container--sm">
    <div class="navbar__logo--wrapper">
      <img class="navbar__logo" src="/icons/logo.svg" alt="logo" />
    </div>
    <div class="navbar__cta--wrapper">
      <a href="#" class="cta cta--secondary">Try It Free </a>
    </div>
  </div>
</nav>
