---
import BaseHeader from "../Components/BaseHeader.astro";
---

<!doctype html>
<html lang="en">
  <BaseHeader
    title="Frontend Mentor | Huddle landing page with alternating feature blocks"
  />
  <body>
    <slot />
  </body>
</html>
