$colors: (
     softMagenta: (
        100:hsl(300, 69%, 71%)       
    ),
   "violet": (
        100:hsl(257, 40%, 49%)
    ),
    neutral: (
        100:hsl(0, 0%, 100%),
        200:hsl(0, 14%, 89%),
        900:hsl(0, 0%, 0%)
    )
);
