@media screen and (max-width:700px) {

    main {
        display: block;
        margin-inline: 15px;
    }

    .community--section {
        &__title {
            font-size: 1.35rem;
        }
    }

}